<ion-content [fullscreen]="true">

    <ion-button color="secondary" (click)="this.listarProdutos()">Buscar Produtos</ion-button>

    <ion-list>
        <ng-container *ngFor="let produto of this.produtos">
            <ion-item>
                <ion-label>
                    <h1>Nome: {{ produto.nome }}</h1>
                    <h3>Preço: {{ produto.preco }}</h3>
                </ion-label>
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                <ion-icon name="create-outline" slot="start"></ion-icon>
            </ion-item>
        </ng-container>
    </ion-list>


</ion-content>